.container-title h1.page-title {
    padding-top: 0px!important;
}
.view-users #toolbar-edit{
  display: none;
}
.view-users #toolbar-publish{
  display: none;
}
.view-users #toolbar-unpublish{
  display: none;
}
.view-users #toolbar-unblock{
  display: none;
}
.view-users #toolbar-delete{
  display: none;
}
.view-users #toolbar-batch{
  display: none;
}

#menu.nav #menu-item-418 {
    display: none;
}

#menu.nav #menu-item-417 {
    display: none;
}

#menu.nav #menu-item-415 {
    display: none;
}

#menu.nav #menu-item-376 {
    display: none;
}

#menu.nav #menu-item-393 {
    display: none;
}

#menu.nav #menu-item-395 {
    display: none;
}

#menu.nav #menu-item-424 {
    display: none;
}

#menu.nav #menu-item-396 {
    display: none;
}

#menu.nav #menu-item-397 {
    display: none;
}

#menu.nav #menu-item-398 {
    display: none;
}

#menu.nav #menu-item-399 {
    display: none;
}

#menu.nav #menu-item-400 {
    display: none;
}

#menu.nav #menu-item-425 {
    display: none;
}

#menu.nav #menu-item-392 {
    display: none;
}

#menu.nav #menu-item-391 {
    display: none;
}

#menu.nav #menu-item-390 {
    display: block;
}

#menu.nav #menu-item-366 {
    display: none;
}

#menu.nav #menu-item-428 {
    display: none;
}
#menu.nav #menu-item-440 {
    display: none;
}
#menu.nav #menu-item-433 {
    display: none;
}
#menu.nav #menu-item-434 {
    display: none;
}
#menu.nav #menu-item-442 {
    display: none;
}

#menu.nav #menu-item-447 {
    display: none;
}

.well-small{
  display: none;
}
.cpanel-links{
  display: none;
}
#menu.nav #menu-item-390 ul li {
    display: none ;
}

#menu.nav #menu-item-390 ul #menu-item-444 {
    display: block;
}
