#menu.nav #menu-item-366{
  display: none;
}

#menu.nav #menu-item-368{
  display: none;
}

#menu.nav #menu-item-390{
  display: none;
}

#menu.nav #menu-item-391{
  display: none;
}

#menu.nav #menu-item-372{
  display: none;
}

#menu.nav #menu-item-393{
  display: none;
}
#menu.nav #menu-item-376{
  display: none;
}
#menu.nav #menu-item-415{
  display: none;
}

#menu.nav #menu-item-417{
  display: none;
}

#menu.nav #menu-item-418{
  display: none;
}

#menu.nav #menu-item-442 {
    display: none;
}
