.js-polls-module .joms-poll__progress {
  background-color: #e3e3e3;
}

.js-polls-module .joms-poll__progress,
.js-polls-module .joms-poll__voted-users,
.js-polls-module .joms-poll__option,
.js-polls-module .joms-list__title_polls h4  {
	margin-left: 25px;
}

.js-polls-module .joms-list__title_polls .icon-bar-chart,
.js-polls-module .joms-poll__checkbox--custom {
	float: left;
}

.js-polls-module .joms-list__content_polls {
	background-color: #fdfdfd;
	border: 1px solid #eee;
	border-radius: 4px;
  padding: 10px;
}

.js-polls-module .joms-list__content_polls + .joms-list__content_polls {
	margin-top: 14px;
}

.js-polls-module .joms-list__title_polls .icon-bar-chart {
	color: #f69931;
	line-height: inherit;
}

.js-polls-module .joms-list__title_polls h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: inherit;
	margin-top: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.js-polls-module .joms-poll__container,
.js-polls-module .joms-poll__input-container {
	margin-bottom: 0;
}

.js-polls-module .joms-poll__option {
	display: block;
}

.js-polls-module .joms-poll__option-list li + li {
  margin-top: 10px;
}

.js-polls-module .joms-poll__more {
	margin-top: 10px;
}

.js-polls-module .joms-poll__more .joms-poll__more-inner a {
	font-size: 12px;
	padding: 5px 10px;
}

.js-polls-module .joms-poll-info {
	background-color: rgba(0, 0, 0, .01);
	border-top: 1px solid #eee;
	font-size: 12px;
	margin: 10px -10px -10px;
	padding: 10px;
}

.js-polls-module .joms-poll-info .joms-icon {
	vertical-align: top;
}