#content{
    margin-bottom: 30px;
}
#page-general, .hidden{
    visibility: inherit !important;
}
div label{
    display: inline;
}
#submenu {
    line-height: 115%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#submenu li{
    float: left;
    line-height: 115%;
}
#submenu li a, #submenu span.nolink {
    border-right: 1px solid #CCCCCC;
    color: #808080;
    cursor: pointer;
    font-weight: bold;
    height: 12px;
    line-height: 14px;
    padding: 0 15px;
}
#submenu a:hover, #submenu a.active, #submenu span.nolink.active {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #146295;
}
#submenu-box ,#element-box, #toolbar-box{
    margin-bottom: 11px; 
}
/*-----------------------------------------------------------
  ------------ for tab -------------------------------------
-----------------------------------------------------------*/

div#element-box div.m {
    padding: 10px;
}
.submenu-box, div.m {
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
}

fieldset.adminform {
    background-color: #FFFFFF;
    padding: 5px 17px 17px;
    border: 1px solid #CCCCCC;
    text-align: left;
    margin: 10px;
    overflow: hidden;
}
fieldset.adminform legend {
    color: #146295;
    font-size: 14px;
    font-weight: bold;
    width: auto;
    margin: 2px;
    border: none;
}
fieldset.adminform label, fieldset.adminform span.faux-label {
    float: left;
    display: inline-block;
    min-width: 135px;
    padding: 3px 5px 0 0;
}
fieldset.adminform fieldset.radio label, fieldset.panelform fieldset.radio label {
    clear: none;
    display: inline;
    float: left;
    padding-left: 0;
    margin-right: 25px;
}
div.width-60 {
    width: 60%;
}
div.width-40 {
    width: 40%;
}
.fltrt {
    float: right;
}
.fltlft {
    float: left;
}
.clr {
    clear: both;
    height: 0;
    overflow: hidden;
}

ul.adminformlist, ul.adminformlist li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
input[required="required"].required {
    background-color: #D5EEFF;
}

.star {
    color: #EB8207;
    font-size: 1.2em;
}


.subhead{
    margin-bottom: 0px;
    height: 45px;
}
.navbar{
}
.container-main{
    margin-top: 10px;
    padding: 0 !important;
    margin: 10px 20px;

}

.adminlist tr th {
    border-color: #CCCCCC #F0F0F0;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}
.adminlist tbody tr td {
    border-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    min-width: 30px;
}
.adminlist tbody tr.row1 td {
    background-color: #EEEEEE;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
#adminForm #filter-bar{
    height: auto;
}
.adminform .chooser-image-wrapper{
    float: left;
}
/*------------------------------------------------
-------------------for edit slide----------------
-------------------------------------------------*/
input.text-area-order {
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.order{
    text-align: center;   
}
.order a.btn-micro {
    font-size: 10px;
    line-height: 8px;
    padding: 1px;
    margin-top: -8px;
}
.order a.btn-micro :first-child{
    font-size: 8px;
}
.adminform select {
    width: auto;
    height: 30px;
}
.adminformlist li{
    clear: both;
}
.adminformlist input.number {
    float: left;
}
.adminform .unit {
    padding-top: 5px;
    padding-left: 5px;
}

#item-form input{
    display: inline;
}
table input,table textarea, .uneditable-input {
    width: auto;
}